ci:
  autofix_prs: true
  autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '(.*testio.*|.*testempty.*|.*-bug.*)'
      - id: end-of-file-fixer
        exclude: '(.*testio.*|.*testempty.*|.*-bug.*)'
      - id: check-yaml
      - id: check-merge-conflict
        args: [ --assume-in-merge ]
      - id: check-added-large-files
        name: check-added-large-files (>3000kb)
        args: ['--maxkb=3000']

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix, --exit-non-zero-on-fix ]
        types_or: [ python, pyi, jupyter ]
        require_serial: true
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
