name: moocore

on:
  push:
    branches-ignore: [gh-pages]
    paths-ignore:
      - '*.md'

  pull_request:
    branches-ignore: [gh-pages]
    paths-ignore:
      - '*.md'
  # Manual run
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read # access to check out code and install dependencies

jobs:
  test:
    if: "! contains(github.event.head_commit.message, '[skip ci]')"
    name: Run testsuite on ${{ matrix.os }} with ${{ matrix.cc }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-24.04 ]
        cc: [ gcc-12, gcc-13, gcc-14, clang-18 ]
        python-version: ['3.10']
        include:
          - { os: ubuntu-22.04, cc: gcc-10, python-version: '3.10' }
          - { os: ubuntu-22.04, cc: gcc-11, python-version: '3.10' }
          # FIXME: needs
          # * brew install xz
          # * fix options only available in GNU diff
          #- { os: macos-13, cc: clang, python-version: '3.10' }
          #- { os: macos-14, cc: clang, python-version: '3.10' }
    env:
      CC: ${{ matrix.cc }}

    steps:
      - name: Checkout moocore
        uses: actions/checkout@v5
        with:
          repository: multi-objective/moocore
          sparse-checkout: |
            c

      - name: Checkout testsuite
        uses: actions/checkout@v5
        with:
          path: testsuite

      - run: $CC -v
        shell: bash

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python3 -m venv env
          source env/bin/activate
          python3 -m pip install --upgrade pip
          python3 -m pip install -r testsuite/requirements.txt

      - name: make time (DEBUG=0, -O3 -flto)
        run: |
          source env/bin/activate
          make -C c time

      - name: make test (DEBUG=1, -O3 -flto)
        run: |
          source env/bin/activate
          make -C c test OPT_CFLAGS="-O3 -flto"
